@model PhanCongGiangDay.Models.Khoa

@{
    ViewBag.Title = "CreateKhoa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Thêm mới khoa</h2>

<style>
    input[type=text], select, textarea {
        width: 100%; /* Full width */
        padding: 12px; /* Some padding */
        border: 1px solid #ccc; /* Gray border */
        border-radius: 4px; /* Rounded borders */
        box-sizing: border-box; /* Make sure that padding and width stays in place */
        margin-top: 6px; /* Add a top margin */
        margin-bottom: 16px; /* Bottom margin */
        resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
    }
</style>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <br />
        <br />

        <div class="form-group" style="padding-right: 10%;">
            <lable class="control-label col-md-2">Mã Khoa </lable>
            <div class="col-md-10">
                <input type="text" size="70" name="MaKhoa" />
            </div>
        </div>

        <div class="form-group" style="padding-right: 10%;">
            <lable class="control-label col-md-2">Tên Khoa </lable>
            <div class="col-md-10">
                <input type="text" size="70" name="TenKhoa" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>

    </div>
}
}
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
